.inputLabel {
   float: left;
   margin-left: 10px;
   width: 350px;
   height: 40px;
   padding-bottom: 25px;
}

.loginBtn {
   float: right;
   margin-right: 27px;
}

.memSearchBtn {
   float: left;
   margin-left: 20px;