/* 전체 마진 없애기 */
*{
	padding: 0;
	margin: 0;
}

/* 페이지 번호까지 포함하는 전체 div 설정 */
#reviewContent{
	width:1400px;
	height:auto;
	padding:50px;
	margin:auto;
	font-size:15px;
}

/*상단 제목 div*/
#title{
	padding-bottom:30px;
	text-align:center;
}

/*상단 제목 review부분*/
#reviewtitle{
	font-weight:700;
	font-size:60px;
}

/*상단 제목 상세내용부분*/
#reviewsubtitle{
	font-size:30px;
	font-weight:lighter;
}

/* 글쓰기버튼 부분 div */
#reviewWrite{
	width:1130px;
	text-align:right;
}


/* 테이블만 포함하는 div설정 */
#reviewDiv{
	width:1100px;
	height:auto;
	text-align:center;
	margin-left:auto;
	margin-right:auto;

}

/* 테이블 설정 */
table{
	width:1050px;
	height:100px;
	float :left;
	border-top:3px solid black;
	padding : 0px;
	margin : 20px;
	margin-bottom:35px;
	border-collapse: collapse;
	
	
	
}

/*테이블 정렬*/
td, tr{
	margin-left:auto;
	margin-right:auto;
	text-align:center;

}
 
/* title부분 위치조정 */
#titleTd{
	border-top:2px solid black;
	border-bottom:1px dotted black;
	text-align : left;
}

/*글 제목 옆 분류*/
#groupA{
	font-weight:100;
	color:gray;
}

/*글 제목*/
#titlename{
	color:#696969;
	font-weight:600;
}

/* 테이블 작성일부분 정렬 */
#dateTd{
	text-align:right;
	
}

/* 테이블 조회수 부분 정렬 */
#countTd{
	text-align:right;
	border-bottom:3px solid black;
}

/*아이디 부분*/
#writerTd{
	border-top : solid gray 1px;
	border-bottom : solid gray 1px;
	text-align : left;
}

/*좋아요부분*/
#likeTd{
	text-align : left;
	border-bottom : solid 3px black;
}
/* 테이블 이미지 부분 크기 조정 */
#imgTd{
	width:180px;
	height:180px;
	border-bottom : solid black 3px;

}

/*이미지 비율에 맞추기*/
#imgTd img{
	width:auto;
	height:auto;
	max-width: 150px;
	max-height:150px;
}

/*검색부분*/
#search{
	text-align:center;
}

/*셀렉트박스*/
#optionbox{
	width:130px;
	height:40px;

}

/*검색칸*/
#searchtext{
	width:300px;
	height:40px;
}

/*검색버튼*/
#searchbox{
	width : 70px;
	height: 40px;
}

/*전체 배경 색상*/
body{background:#f4f4f4;}

/*글씨 색상*/
/* {color:#696969;}*/	

